@import './ui/theme/colors.module.scss';

.container_general_layout {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  >.picture_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 500;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}