@import './ui/theme/colors.module.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  >.container_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    >.button_container {
      padding: 20px;
    }
  }

    @include medium-view {
      flex-direction: row;
      padding: 6rem;
      justify-content: space-evenly;
      >.container_text {
        gap: 20px;
      }
    }
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: 1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
  max-height: 300px;
  width: auto;

  @include medium-view {
    max-height: 500px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    &:hover {
      filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 1));
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
