@import './fonts.module.scss';
@import './mixins.scss';

$fweights: 400, 700, 800;

@at-root h1#{&},
.h1,
.heading-XL {
  @extend .font-heading;
  font-size: 8rem;
  line-height: 171.9%;
  letter-spacing: 0;

  @include large-view {
    font-size: 14.4rem;
  }
}

@at-root h2#{&},
.h2,
.heading-L {
  @extend .font-heading;
  font-size: 5.6rem;
  line-height: 114.6%;
  letter-spacing: 0;

  @include small-view {
    font-size: 8rem;
  }

  @include large-view {
    font-size: 9.6rem;
  }
}

@at-root h3#{&},
.h3,
.heading-M {
  @extend .font-heading;
  font-size: 2.4rem;
  line-height: 64.2%;
  letter-spacing: 0;

  @include small-view {
    font-size: 4rem;
  }

  @include large-view {
    font-size: 5.6rem;
  }
}

@at-root h4#{&},
.h4,
.heading-S {
  @extend .font-heading;
  font-size: 1.8rem;
  line-height: 36.7px;
  letter-spacing: 0;

  @include small-view {
    font-size: 2.4rem;
  }

  @include large-view {
    font-size: 3.2rem;
  }
}

@at-root h5#{&},
.h5,
.heading-XS {
  @extend .font-heading;
  font-size: 1.6rem;
  line-height: 33.6px;
  letter-spacing: 4px;

  @include small-view {
    font-size: 2rem;
  }

  @include large-view {
    font-size: 2.8rem;
  }
}

.subheading-L {
  @extend .font-heading;
  font-size: 2.8rem;
  line-height: 32px;
  letter-spacing: 0;
}

.subheading-S {
  @extend .font-heading;
  font-size: 1.4rem;
  line-height: calc(1.5rem * 1.68);
  letter-spacing: 2px;
}

.nav-text {
  @extend .font-heading;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0;

  @include large-view {
    font-size: 1.6rem;
  }
}

@at-root p#{&},
.p,
.body {
  @extend .font-text;
  font-size: 1.5rem;
  line-height: calc(1.5rem * 1.8);
  letter-spacing: 0;

  @include small-view {
    font-size: 1.6rem;
  }

  @include large-view {
    font-size: 1.8rem;
  }
}